.skill {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    width: 250px;
    background-color: #526d98;
    display: flex;
    flex-direction: column;
    align-items: center;


}

/*.skill h3 {*/
/*    margin-top: 0;*/
/*}*/

.icon {
    height: 50px;
    width: 50px;
    background-color: white;
}

.description {
    text-align: center;
}